.container {
  min-height: 100vh;
}

.main {
  margin-right: 2em;
  margin-left: 2em;
}

.header {
  position: sticky;
  top: 0;
}

.content {
  height: 100%;
}

.test {
  overflow:hidden;
  white-space: nowrap;
}

.imageTest {
  margin-right: 0.1em;
}

.image {
  border-radius: 0.2em;
}

.row {
  margin-bottom: 1em;
}